/education_slice_output.txt
/marital-status_slice_output.txt
/native-country_slice_output.txt
/occupation_slice_output.txt
/race_slice_output.txt
/relationship_slice_output.txt
/sex_slice_output.txt
/workclass_slice_output.txt
